.estiloFoto1
{
	border-radius: 173px;
    filter: grayscale(100%);
}

.estiloFoto1:hover
{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
	transition: all 200ms linear;
}

.estiloFoto2:hover
{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
	transition: all 200ms linear;
}

.estiloFoto2
{
	border-radius: 210px;
    filter: grayscale(100%);
    width: 295px;
}