#bgvideo{
	width: 100%; 
	align-items: center;
}
#letraVideoMayor750{
	position: absolute;
    color: white;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    background: rgba(0, 0, 0, 0.82);
    padding: 20px;
    border-radius: 30px;
    z-index: 1;
    top: 51%;
    left: 34%;
    font-size: 40px;

    transform: translateX(-50%) translateY(-50%);
}

#letraVideoMenor750{
	position: absolute;
    color: white;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    background: rgba(0, 0, 0, 0.82);
    padding: 20px;
    border-radius: 30px;
    z-index: 1;
    top: 40%;
    left: 34%;
    font-size: 21px;

    transform: translateX(-50%) translateY(-50%);
}

/* Letras alado de la foto 750*/
@media screen and (max-width: 750px)
{
    div#letraVideoMayor750
    {
        display: none;
    }
}

@media screen and (min-width: 751px)
{
    div#letraVideoMenor750
    {
        display: none;
    }
}

@media screen and (max-width: 500px)
{
    div#letraVideoMenor750
    {
        display: none;
    }
}
